*{
	padding: 0;
	margin: 0
}

body{

	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background:linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}
#red{
	color: #c31432;
}
#items{
	display: flex;
	align-content: 
}
li{
	list-style: none;
	padding: 20px;
}
li a{
padding: 20px;
color: #fff;
}

li a:hover{
border-bottom: 2px solid #fff;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: #c31432;
}
#menu{
	display: flex;
	width: 100%;
	margin: auto;
	position: fixed;
	background-color: rgba(100,100,100,.4);
	z-index: 1;
}
#logo a{
	padding: 10px;
	font-size: 7vh;
	color: #fff;
	font-family: "Lobster";
}

#ad{
	padding: 10px;
	font-size: 2em;
	color: #fff;
	font-family: "Almendra";
	letter-spacing: 3px;
	position: relative;
	left: 90px;
	top: 10px

}

.card{
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:30px;
	box-shadow: 2px 2px 10px red;
	background-color: white;
	color: black;
	max-height: 200px;
	margin-top: 20px;
}

#cars{
	width: 800px;
	margin: auto;
	color: black;
}

#section1 img{
	width: 300px;
	height: 200px;
}
#section3{
	font-size: 20px;
}

#container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 100px;
}
#logo h3{
	text-align: center;
	width: 700px;
	position: relative;
	top: 90px;

}

#btn{
	border: 0;
	min-width: 500px;
	border-radius: 10px;
	color: #fff;
	position: relative;
	bottom: 50px;
	left: 320px;
	background-color: #c31432;
	cursor: pointer;
}

#btn:hover{
	border: 1px solid #c31432;
	border-radius: 10px;
	color: #c31432;
	background-color: rgba(255,255,255,.9);
	transition: 1s
}

#updatebtn{
	border: 0;
	min-width: 200px;
	border-radius: 10px;
	color: #fff;
	background-color: #c31432;
	cursor: pointer;
	position: relative;
	left: 5px;
}

#updatebtn:hover{
	border: 1px solid #c31432;
	border-radius: 10px;
	color: #c31432;
	background-color: rgba(255,255,255,.9);
	transition: 1s
}


input{
	height: 45px;
	width: 100%;
	color: #000;
	border: 0;
	border-bottom: 1px solid #c31432;
	position: relative;
	left: 0px;
	font-weight: bold;
	border-color: #000;
}
input:invalid{
	border-bottom: 5px solid red;
}

input#updateinp{
min-width: 250px;
}
#filter{
	position: relative;
	top: 20px;
	max-width: 250px;
	right: 20px;
	padding: 30px;
	background-color: white;
	height: 420px;
}
#filter input{
	height: 40px;
	width: 20px;
}
#ftitle{
	margin: auto;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-family: "Alegreya Sans";
	letter-spacing: 2px;
	background-color: #c31432;
	padding: 10px;
	width: 290px;
	position: relative;
	bottom: 30px;
	right: 30px;
}

select{
	padding: 5px;
	width: 100%;
	padding: 10px;
}

#price select{
	width: 99%;
}


#price{
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 90px;
}


#condition{
	position: relative;
	top: 20px;
}


#ttype{
	position: relative;
	top: 50px;
}

#btype{
	position: relative;
	top: 70px;
}
#first{
font-size: 20px;
}

#second{
position: relative;
top: 10px;
font-size: 20px;
}

#third{
position: relative;
top: 20px;
font-size: 20px;
}
.neg{
	margin-top: 10px;
}

.update{
	display: flex;
	position: relative;
	justify-content: space-around;
	bottom: 50px;
	left: 370px;
}