*{
	padding: 0;
	margin: 0
}
#menu{
	display: flex;
	width: 100%;
	margin: auto;
	background-color: rgba(100,100,100,.4);
}
#logo a{
	padding: 10px;
	font-size: 7vh;
	color: #fff;
	font-family: "Lobster";
}
#red{
	color: #c31432;
}
#items{
	display: flex;
	align-content: 
}
#file{
	border: 1px solid #fff;
	cursor: pointer;
}
li{
	list-style: none;
	padding: 20px;
}
li a{
padding: 20px;
color: #fff;
}

li a:hover{
border-bottom: 2px solid #fff;
}
body{

	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background:linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

#container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#ftitle{
	min-width: 90%;
	background-color: #c31432;
	text-align: center;
	padding: 10px;
	color: #fff;
}
#form{
	margin: auto;
	background-color: #333;
	min-width:50%;
	position: relative;
	top: 50px;
	padding: 100px;
	box-shadow: 110px;
}

#filter{
	min-width: 200px;
	background-color: rgba(250,250,250,.8);
	position: relative;
	top: 50px;
}
#btn:hover{
	border: 1px solid #c31432;
	border-radius: 10px;
	color: #c31432;
	background-color: rgba(255,255,255,.9);
	cursor: pointer;
	transition: 1s
}

#btn{
	border: 0;
	border-radius: 10px;
	color: #fff;
	position: relative;
	top: 50px;
	background-color: #c31432;
	cursor: pointer;
}

#center{
	width: 100%;
	margin: auto;
}

input{
	height: 45px;
	width: 100%;
	color: #000;
	border: 0;
	border-bottom: 1px solid #c31432;
	position: relative;
	left: 0px;
	font-weight: bold;
	border-color: #000;
}
input:invalid{
	border-bottom: 5px solid red;
}
#forgot{
	position: relative;
	top: 50px;
	left: 200px;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: #c31432;
}

#adform{
	background-color: black;
	width: 50%;
	padding: 10px;
}
.select{
	width: 90%;
	min-width: 100%;
	padding: 10px;
	border-radius: 1px;
}
#advertform{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
label{
	min-width: 300px;
	color:#fff;
}

h1#title{
	color: #fff;
	font-size: 1.5em;
	position: relative;
	bottom: 20px;
	position: relative;
	bottom: 50px;
	letter-spacing: 2px;
	font-family: 'Stint Ultra Expanded'
}


@media screen and (min-width: 1440px){
	#title{
	color: #c31432;
	font-size: 5vh;
	position: relative;
	bottom: 20px;
	position: relative;
	bottom: 50px;
	letter-spacing: 2px;
}

#form{
	margin: auto;
	background-color: #fff;
	width: 500px;
	position: relative;
	top: 80px;
	padding: 100px;
}
}




@media screen and (min-width: 768px){
	#title{
	color: #c31432;
	font-size: 4.5vh;
	position: relative;
	position: relative;
	bottom: 30px;
	letter-spacing: 2px;
	text-align: center;
}
}


@media screen and (max-width: 360px){
	#form{
	background-color: #fff;
	width: 35%;
	position: relative;
	top: 50px;
	padding: 100px;
}
form{
	width: 100%;
}
#title{
	color: #c31432;
	font-size: 4vh;
	position: relative;
	bottom: 20px;
	width: 300px;
	line-height: 50px;

}

input{
	height: 45px;
	width: 250px;
	color: #000;
	border: 0;
	border-bottom: 1px solid #c31432;
	font-weight: bold;
	border-color: #000;
}
#forgot{
	width: 250px;
	position: relative;
	left:  00px;
}

#center{
	position: relative;
	right: 50px;
	width: 100%;
	margin: 0;
}

}